<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotificatonService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UMessage_Sdk_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F213885E1D88E4520034B35F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21388771D88E4520034B35F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21388821D88E4520034B35F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F21388B21D88E6FA0034B35F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F22674161E1CCD0500EB7CA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
